**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh 
*.pth
*.pkl
*.zip
*.bin
.vscode/
/tracking_result.json
/train_data_2Input.json
/train_data_3Input.json
/train_data_ScoreDecay_0.2_3Input_addition.json
/train_data_ScoreDecay_0.2_3Input_multiplication.json
/train_data_ScoreDecay_0.2_3Input_same.json
/metrics_details.json
/metrics_summary.json
/detection_result.json
/annotations.json
/frames_meta.json
